<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>城市表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="css/style.css?2018">
</head>

<body>
<div class="content-box">
    <table class="table-box">
        <thead>
        <tr>
            <th>城市代码</th>
            <th>城市名称</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>1101	</td><td>北京市</td></tr>
        <tr><td>1201	</td><td>天津市</td></tr>
        <tr><td>1301	</td><td>石家庄市</td></tr>
        <tr><td>1302	</td><td>唐山市</td></tr>
        <tr><td>1303	</td><td>秦皇岛市</td></tr>
        <tr><td>1304	</td><td>邯郸市</td></tr>
        <tr><td>1305	</td><td>邢台市</td></tr>
        <tr><td>1306	</td><td>保定市</td></tr>
        <tr><td>1307	</td><td>张家口市</td></tr>
        <tr><td>1308	</td><td>承德市</td></tr>
        <tr><td>1309	</td><td>沧州市</td></tr>
        <tr><td>1310	</td><td>廊坊市</td></tr>
        <tr><td>1311	</td><td>衡水市</td></tr>
        <tr><td>1401	</td><td>太原市</td></tr>
        <tr><td>1402	</td><td>大同市</td></tr>
        <tr><td>1403	</td><td>阳泉市</td></tr>
        <tr><td>1404	</td><td>长治市</td></tr>
        <tr><td>1405	</td><td>晋城市</td></tr>
        <tr><td>1406	</td><td>朔州市</td></tr>
        <tr><td>1407	</td><td>晋中市</td></tr>
        <tr><td>1408	</td><td>运城市</td></tr>
        <tr><td>1409	</td><td>忻州市</td></tr>
        <tr><td>1410	</td><td>临汾市</td></tr>
        <tr><td>1411	</td><td>吕梁市</td></tr>
        <tr><td>1501	</td><td>呼和浩特市</td></tr>
        <tr><td>1502	</td><td>包头市</td></tr>
        <tr><td>1503	</td><td>乌海市</td></tr>
        <tr><td>1504	</td><td>赤峰市</td></tr>
        <tr><td>1505	</td><td>通辽市</td></tr>
        <tr><td>1506	</td><td>鄂尔多斯市</td></tr>
        <tr><td>1507	</td><td>呼伦贝尔市</td></tr>
        <tr><td>1508	</td><td>巴彦淖尔市</td></tr>
        <tr><td>1509	</td><td>乌兰察布市</td></tr>
        <tr><td>1522	</td><td>兴安盟</td></tr>
        <tr><td>1525	</td><td>锡林郭勒盟</td></tr>
        <tr><td>1529	</td><td>阿拉善盟</td></tr>
        <tr><td>2101	</td><td>沈阳市</td></tr>
        <tr><td>2102	</td><td>大连市</td></tr>
        <tr><td>2103	</td><td>鞍山市</td></tr>
        <tr><td>2104	</td><td>抚顺市</td></tr>
        <tr><td>2105	</td><td>本溪市</td></tr>
        <tr><td>2106	</td><td>丹东市</td></tr>
        <tr><td>2107	</td><td>锦州市</td></tr>
        <tr><td>2108	</td><td>营口市</td></tr>
        <tr><td>2109	</td><td>阜新市</td></tr>
        <tr><td>2110	</td><td>辽阳市</td></tr>
        <tr><td>2111	</td><td>盘锦市</td></tr>
        <tr><td>2112	</td><td>铁岭市</td></tr>
        <tr><td>2113	</td><td>朝阳市</td></tr>
        <tr><td>2114	</td><td>葫芦岛市</td></tr>
        <tr><td>2201	</td><td>长春市</td></tr>
        <tr><td>2202	</td><td>吉林市</td></tr>
        <tr><td>2203	</td><td>四平市</td></tr>
        <tr><td>2204	</td><td>辽源市</td></tr>
        <tr><td>2205	</td><td>通化市</td></tr>
        <tr><td>2206	</td><td>白山市</td></tr>
        <tr><td>2207	</td><td>松原市</td></tr>
        <tr><td>2208	</td><td>白城市</td></tr>
        <tr><td>2224	</td><td>延边朝鲜族自治州</td></tr>
        <tr><td>2301	</td><td>哈尔滨市</td></tr>
        <tr><td>2302	</td><td>齐齐哈尔市</td></tr>
        <tr><td>2303	</td><td>鸡西市</td></tr>
        <tr><td>2304	</td><td>鹤岗市</td></tr>
        <tr><td>2305	</td><td>双鸭山市</td></tr>
        <tr><td>2306	</td><td>大庆市</td></tr>
        <tr><td>2307	</td><td>伊春市</td></tr>
        <tr><td>2308	</td><td>佳木斯市</td></tr>
        <tr><td>2309	</td><td>七台河市</td></tr>
        <tr><td>2310	</td><td>牡丹江市</td></tr>
        <tr><td>2311	</td><td>黑河市</td></tr>
        <tr><td>2312	</td><td>绥化市</td></tr>
        <tr><td>2327	</td><td>大兴安岭地区</td></tr>
        <tr><td>3101	</td><td>上海市</td></tr>
        <tr><td>3201	</td><td>南京市</td></tr>
        <tr><td>3202	</td><td>无锡市</td></tr>
        <tr><td>3203	</td><td>徐州市</td></tr>
        <tr><td>3204	</td><td>常州市</td></tr>
        <tr><td>3205	</td><td>苏州市</td></tr>
        <tr><td>3206	</td><td>南通市</td></tr>
        <tr><td>3207	</td><td>连云港市</td></tr>
        <tr><td>3208	</td><td>淮安市</td></tr>
        <tr><td>3209	</td><td>盐城市</td></tr>
        <tr><td>3210	</td><td>扬州市</td></tr>
        <tr><td>3211	</td><td>镇江市</td></tr>
        <tr><td>3212	</td><td>泰州市</td></tr>
        <tr><td>3213	</td><td>宿迁市</td></tr>
        <tr><td>3301	</td><td>杭州市</td></tr>
        <tr><td>3302	</td><td>宁波市</td></tr>
        <tr><td>3303	</td><td>温州市</td></tr>
        <tr><td>3304	</td><td>嘉兴市</td></tr>
        <tr><td>3305	</td><td>湖州市</td></tr>
        <tr><td>3306	</td><td>绍兴市</td></tr>
        <tr><td>3307	</td><td>金华市</td></tr>
        <tr><td>3308	</td><td>衢州市</td></tr>
        <tr><td>3309	</td><td>舟山市</td></tr>
        <tr><td>3310	</td><td>台州市</td></tr>
        <tr><td>3311	</td><td>丽水市</td></tr>
        <tr><td>3401	</td><td>合肥市</td></tr>
        <tr><td>3402	</td><td>芜湖市</td></tr>
        <tr><td>3403	</td><td>蚌埠市</td></tr>
        <tr><td>3404	</td><td>淮南市</td></tr>
        <tr><td>3405	</td><td>马鞍山市</td></tr>
        <tr><td>3406	</td><td>淮北市</td></tr>
        <tr><td>3407	</td><td>铜陵市</td></tr>
        <tr><td>3408	</td><td>安庆市</td></tr>
        <tr><td>3410	</td><td>黄山市</td></tr>
        <tr><td>3411	</td><td>滁州市</td></tr>
        <tr><td>3412	</td><td>阜阳市</td></tr>
        <tr><td>3413	</td><td>宿州市</td></tr>
        <tr><td>3415	</td><td>六安市</td></tr>
        <tr><td>3416	</td><td>亳州市</td></tr>
        <tr><td>3417	</td><td>池州市</td></tr>
        <tr><td>3418	</td><td>宣城市</td></tr>
        <tr><td>3501	</td><td>福州市</td></tr>
        <tr><td>3502	</td><td>厦门市</td></tr>
        <tr><td>3503	</td><td>莆田市</td></tr>
        <tr><td>3504	</td><td>三明市</td></tr>
        <tr><td>3505	</td><td>泉州市</td></tr>
        <tr><td>3506	</td><td>漳州市</td></tr>
        <tr><td>3507	</td><td>南平市</td></tr>
        <tr><td>3508	</td><td>龙岩市</td></tr>
        <tr><td>3509	</td><td>宁德市</td></tr>
        <tr><td>3601	</td><td>南昌市</td></tr>
        <tr><td>3602	</td><td>景德镇市</td></tr>
        <tr><td>3603	</td><td>萍乡市</td></tr>
        <tr><td>3604	</td><td>九江市</td></tr>
        <tr><td>3605	</td><td>新余市</td></tr>
        <tr><td>3606	</td><td>鹰潭市</td></tr>
        <tr><td>3607	</td><td>赣州市</td></tr>
        <tr><td>3608	</td><td>吉安市</td></tr>
        <tr><td>3609	</td><td>宜春市</td></tr>
        <tr><td>3610	</td><td>抚州市</td></tr>
        <tr><td>3611	</td><td>上饶市</td></tr>
        <tr><td>3701	</td><td>济南市</td></tr>
        <tr><td>3702	</td><td>青岛市</td></tr>
        <tr><td>3703	</td><td>淄博市</td></tr>
        <tr><td>3704	</td><td>枣庄市</td></tr>
        <tr><td>3705	</td><td>东营市</td></tr>
        <tr><td>3706	</td><td>烟台市</td></tr>
        <tr><td>3707	</td><td>潍坊市</td></tr>
        <tr><td>3708	</td><td>济宁市</td></tr>
        <tr><td>3709	</td><td>泰安市</td></tr>
        <tr><td>3710	</td><td>威海市</td></tr>
        <tr><td>3711	</td><td>日照市</td></tr>
        <tr><td>3712	</td><td>莱芜市</td></tr>
        <tr><td>3713	</td><td>临沂市</td></tr>
        <tr><td>3714	</td><td>德州市</td></tr>
        <tr><td>3715	</td><td>聊城市</td></tr>
        <tr><td>3716	</td><td>滨州市</td></tr>
        <tr><td>3717	</td><td>菏泽市</td></tr>
        <tr><td>4101	</td><td>郑州市</td></tr>
        <tr><td>4102	</td><td>开封市</td></tr>
        <tr><td>4103	</td><td>洛阳市</td></tr>
        <tr><td>4104	</td><td>平顶山市</td></tr>
        <tr><td>4105	</td><td>安阳市</td></tr>
        <tr><td>4106	</td><td>鹤壁市</td></tr>
        <tr><td>4107	</td><td>新乡市</td></tr>
        <tr><td>4108	</td><td>焦作市</td></tr>
        <tr><td>4109	</td><td>濮阳市</td></tr>
        <tr><td>4110	</td><td>许昌市</td></tr>
        <tr><td>4111	</td><td>漯河市</td></tr>
        <tr><td>4112	</td><td>三门峡市</td></tr>
        <tr><td>4113	</td><td>南阳市</td></tr>
        <tr><td>4114	</td><td>商丘市</td></tr>
        <tr><td>4115	</td><td>信阳市</td></tr>
        <tr><td>4116	</td><td>周口市</td></tr>
        <tr><td>4117	</td><td>驻马店市</td></tr>
        <tr><td>4190	</td><td>河南省直辖市</td></tr>
        <tr><td>4201	</td><td>武汉市</td></tr>
        <tr><td>4202	</td><td>黄石市</td></tr>
        <tr><td>4203	</td><td>十堰市</td></tr>
        <tr><td>4205	</td><td>宜昌市</td></tr>
        <tr><td>4206	</td><td>襄阳市</td></tr>
        <tr><td>4207	</td><td>鄂州市</td></tr>
        <tr><td>4208	</td><td>荆门市</td></tr>
        <tr><td>4209	</td><td>孝感市</td></tr>
        <tr><td>4210	</td><td>荆州市</td></tr>
        <tr><td>4211	</td><td>黄冈市</td></tr>
        <tr><td>4212	</td><td>咸宁市</td></tr>
        <tr><td>4213	</td><td>随州市</td></tr>
        <tr><td>4228	</td><td>恩施土家族苗族自治州</td></tr>
        <tr><td>4290	</td><td>湖北省直辖市</td></tr>
        <tr><td>4301	</td><td>长沙市</td></tr>
        <tr><td>4302	</td><td>株洲市</td></tr>
        <tr><td>4303	</td><td>湘潭市</td></tr>
        <tr><td>4304	</td><td>衡阳市</td></tr>
        <tr><td>4305	</td><td>邵阳市</td></tr>
        <tr><td>4306	</td><td>岳阳市</td></tr>
        <tr><td>4307	</td><td>常德市</td></tr>
        <tr><td>4308	</td><td>张家界市</td></tr>
        <tr><td>4309	</td><td>益阳市</td></tr>
        <tr><td>4310	</td><td>郴州市</td></tr>
        <tr><td>4311	</td><td>永州市</td></tr>
        <tr><td>4312	</td><td>怀化市</td></tr>
        <tr><td>4313	</td><td>娄底市</td></tr>
        <tr><td>4331	</td><td>湘西土家族苗族自治州</td></tr>
        <tr><td>4401	</td><td>广州市</td></tr>
        <tr><td>4402	</td><td>韶关市</td></tr>
        <tr><td>4403	</td><td>深圳市</td></tr>
        <tr><td>4404	</td><td>珠海市</td></tr>
        <tr><td>4405	</td><td>汕头市</td></tr>
        <tr><td>4406	</td><td>佛山市</td></tr>
        <tr><td>4407	</td><td>江门市</td></tr>
        <tr><td>4408	</td><td>湛江市</td></tr>
        <tr><td>4409	</td><td>茂名市</td></tr>
        <tr><td>4412	</td><td>肇庆市</td></tr>
        <tr><td>4413	</td><td>惠州市</td></tr>
        <tr><td>4414	</td><td>梅州市</td></tr>
        <tr><td>4415	</td><td>汕尾市</td></tr>
        <tr><td>4416	</td><td>河源市</td></tr>
        <tr><td>4417	</td><td>阳江市</td></tr>
        <tr><td>4418	</td><td>清远市</td></tr>
        <tr><td>4419	</td><td>东莞市</td></tr>
        <tr><td>4420	</td><td>中山市</td></tr>
        <tr><td>4451	</td><td>潮州市</td></tr>
        <tr><td>4452	</td><td>揭阳市</td></tr>
        <tr><td>4453	</td><td>云浮市</td></tr>
        <tr><td>4501	</td><td>南宁市</td></tr>
        <tr><td>4502	</td><td>柳州市</td></tr>
        <tr><td>4503	</td><td>桂林市</td></tr>
        <tr><td>4504	</td><td>梧州市</td></tr>
        <tr><td>4505	</td><td>北海市</td></tr>
        <tr><td>4506	</td><td>防城港市</td></tr>
        <tr><td>4507	</td><td>钦州市</td></tr>
        <tr><td>4508	</td><td>贵港市</td></tr>
        <tr><td>4509	</td><td>玉林市</td></tr>
        <tr><td>4510	</td><td>百色市</td></tr>
        <tr><td>4511	</td><td>贺州市</td></tr>
        <tr><td>4512	</td><td>河池市</td></tr>
        <tr><td>4513	</td><td>来宾市</td></tr>
        <tr><td>4514	</td><td>崇左市</td></tr>
        <tr><td>4601	</td><td>海口市</td></tr>
        <tr><td>4602	</td><td>三亚市</td></tr>
        <tr><td>4603	</td><td>三沙市</td></tr>
        <tr><td>4690	</td><td>海南省直辖市</td></tr>
        <tr><td>5001	</td><td>重庆市</td></tr>
        <tr><td>5101	</td><td>成都市</td></tr>
        <tr><td>5103	</td><td>自贡市</td></tr>
        <tr><td>5104	</td><td>攀枝花市</td></tr>
        <tr><td>5105	</td><td>泸州市</td></tr>
        <tr><td>5106	</td><td>德阳市</td></tr>
        <tr><td>5107	</td><td>绵阳市</td></tr>
        <tr><td>5108	</td><td>广元市</td></tr>
        <tr><td>5109	</td><td>遂宁市</td></tr>
        <tr><td>5110	</td><td>内江市</td></tr>
        <tr><td>5111	</td><td>乐山市</td></tr>
        <tr><td>5113	</td><td>南充市</td></tr>
        <tr><td>5114	</td><td>眉山市</td></tr>
        <tr><td>5115	</td><td>宜宾市</td></tr>
        <tr><td>5116	</td><td>广安市</td></tr>
        <tr><td>5117	</td><td>达州市</td></tr>
        <tr><td>5118	</td><td>雅安市</td></tr>
        <tr><td>5119	</td><td>巴中市</td></tr>
        <tr><td>5120	</td><td>资阳市</td></tr>
        <tr><td>5132	</td><td>阿坝藏族羌族自治州</td></tr>
        <tr><td>5133	</td><td>甘孜藏族自治州</td></tr>
        <tr><td>5134	</td><td>凉山彝族自治州</td></tr>
        <tr><td>5201	</td><td>贵阳市</td></tr>
        <tr><td>5202	</td><td>六盘水市</td></tr>
        <tr><td>5203	</td><td>遵义市</td></tr>
        <tr><td>5204	</td><td>安顺市</td></tr>
        <tr><td>5205	</td><td>毕节市</td></tr>
        <tr><td>5206	</td><td>铜仁市</td></tr>
        <tr><td>5223	</td><td>黔西南布依族苗族自治州</td></tr>
        <tr><td>5226	</td><td>黔东南苗族侗族自治州</td></tr>
        <tr><td>5227	</td><td>黔南布依族苗族自治州</td></tr>
        <tr><td>5301	</td><td>昆明市</td></tr>
        <tr><td>5303	</td><td>曲靖市</td></tr>
        <tr><td>5304	</td><td>玉溪市</td></tr>
        <tr><td>5305	</td><td>保山市</td></tr>
        <tr><td>5306	</td><td>昭通市</td></tr>
        <tr><td>5307	</td><td>丽江市</td></tr>
        <tr><td>5308	</td><td>普洱市</td></tr>
        <tr><td>5309	</td><td>临沧市</td></tr>
        <tr><td>5323	</td><td>楚雄彝族自治州</td></tr>
        <tr><td>5325	</td><td>红河哈尼族彝族自治州</td></tr>
        <tr><td>5326	</td><td>文山壮族苗族自治州</td></tr>
        <tr><td>5328	</td><td>西双版纳傣族自治州</td></tr>
        <tr><td>5329	</td><td>大理白族自治州</td></tr>
        <tr><td>5331	</td><td>德宏傣族景颇族自治州</td></tr>
        <tr><td>5333	</td><td>怒江傈僳族自治州</td></tr>
        <tr><td>5334	</td><td>迪庆藏族自治州</td></tr>
        <tr><td>5401	</td><td>拉萨市</td></tr>
        <tr><td>5402	</td><td>日喀则市</td></tr>
        <tr><td>5421	</td><td>昌都地区</td></tr>
        <tr><td>5422	</td><td>山南地区</td></tr>
        <tr><td>5424	</td><td>那曲地区</td></tr>
        <tr><td>5425	</td><td>阿里地区</td></tr>
        <tr><td>5426	</td><td>林芝地区</td></tr>
        <tr><td>6101	</td><td>西安市</td></tr>
        <tr><td>6102	</td><td>铜川市</td></tr>
        <tr><td>6103	</td><td>宝鸡市</td></tr>
        <tr><td>6104	</td><td>咸阳市</td></tr>
        <tr><td>6105	</td><td>渭南市</td></tr>
        <tr><td>6106	</td><td>延安市</td></tr>
        <tr><td>6107	</td><td>汉中市</td></tr>
        <tr><td>6108	</td><td>榆林市</td></tr>
        <tr><td>6109	</td><td>安康市</td></tr>
        <tr><td>6110	</td><td>商洛市</td></tr>
        <tr><td>6201	</td><td>兰州市</td></tr>
        <tr><td>6202	</td><td>嘉峪关市</td></tr>
        <tr><td>6203	</td><td>金昌市</td></tr>
        <tr><td>6204	</td><td>白银市</td></tr>
        <tr><td>6205	</td><td>天水市</td></tr>
        <tr><td>6206	</td><td>武威市</td></tr>
        <tr><td>6207	</td><td>张掖市</td></tr>
        <tr><td>6208	</td><td>平凉市</td></tr>
        <tr><td>6209	</td><td>酒泉市</td></tr>
        <tr><td>6210	</td><td>庆阳市</td></tr>
        <tr><td>6211	</td><td>定西市</td></tr>
        <tr><td>6212	</td><td>陇南市</td></tr>
        <tr><td>6229	</td><td>临夏回族自治州</td></tr>
        <tr><td>6230	</td><td>甘南藏族自治州</td></tr>
        <tr><td>6301	</td><td>西宁市</td></tr>
        <tr><td>6302	</td><td>海东市</td></tr>
        <tr><td>6322	</td><td>海北藏族自治州</td></tr>
        <tr><td>6323	</td><td>黄南藏族自治州</td></tr>
        <tr><td>6325	</td><td>海南藏族自治州</td></tr>
        <tr><td>6326	</td><td>果洛藏族自治州</td></tr>
        <tr><td>6327	</td><td>玉树藏族自治州</td></tr>
        <tr><td>6328	</td><td>海西蒙古族藏族自治州</td></tr>
        <tr><td>6401	</td><td>银川市</td></tr>
        <tr><td>6402	</td><td>石嘴山市</td></tr>
        <tr><td>6403	</td><td>吴忠市</td></tr>
        <tr><td>6404	</td><td>固原市</td></tr>
        <tr><td>6405	</td><td>中卫市</td></tr>
        <tr><td>6501	</td><td>乌鲁木齐市</td></tr>
        <tr><td>6502	</td><td>克拉玛依市</td></tr>
        <tr><td>6521	</td><td>吐鲁番地区</td></tr>
        <tr><td>6522	</td><td>哈密地区</td></tr>
        <tr><td>6523	</td><td>昌吉回族自治州</td></tr>
        <tr><td>6527	</td><td>博尔塔拉蒙古自治州</td></tr>
        <tr><td>6528	</td><td>巴音郭楞蒙古自治州</td></tr>
        <tr><td>6529	</td><td>阿克苏地区</td></tr>
        <tr><td>6530	</td><td>克孜勒苏柯尔克孜自治州</td></tr>
        <tr><td>6531	</td><td>喀什地区</td></tr>
        <tr><td>6532	</td><td>和田地区</td></tr>
        <tr><td>6540	</td><td>伊犁哈萨克自治州</td></tr>
        <tr><td>6542	</td><td>塔城地区</td></tr>
        <tr><td>6543	</td><td>阿勒泰地区</td></tr>
        <tr><td>6590	</td><td>新疆维吾尔自治区直辖县</td></tr>
            </tbody>
    </table>

</div>
<script src="js/jquery.min.js"></script>
<script src="js/all.js"></script>
</body>
</html>