<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>证件类型表</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="css/style.css?2018">
</head>

<body>
<div class="content-box">
    <h1 class="title-h1">证件类型表
    </h1>
    <table class="table-box">
        <thead>
        <tr>
            <th>代码</th>
            <th>名称</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>1</td><td>身份证</td></tr>
        <tr><td>2</td><td>军官证</td></tr>
        <tr><td>3</td><td>护照</td></tr>
        <tr><td>4</td><td>营业执照</td></tr>
        <tr><td>5</td><td>驾驶证</td></tr>
        <tr><td>6</td><td>组织机构代码证</td></tr>
        <tr><td>7</td><td>港澳来往内地通行证</td></tr>
        <tr><td>8</td><td>台湾同胞来往内地通行证</td></tr>
        </tbody>
    </table>

</div>
<script src="js/jquery.min.js"></script>
<script src="js/all.js"></script>
</body>
</html>