<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>易生支付网络支付接口文档4.0(RSA)</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="css/style.css?2019">
</head>
<body>
<div class="rows">
    <div class="pull-left">
       <div class="nav-box">
           <div class="title-box">
               易生支付网络支付接口文档4.0(RSA)
           </div>

           <div class="menu-box">
               <ul class="main">
                   <li class="selected"><a href="#/instructions" data-href="./instructions.htm">1.文档说明(包含测试参数)</a></li>
                   <li><a href="#demo" data-href="./demo.htm" title="Demo说明">2.Demo说明</a></li>

                   <li class="tree-box"><span>3.安全规范(签名计算方法)</span>
                       <ul>
                           <li><a  href="#/sign" data-href="./sign.htm" title="数字签名">3.1安全规范</a></li>
                       </ul>
                   </li>

                   <li class="tree-box"><span>4.数据字典</span>
                       <ul>
                           <li><a  href="#/tradestatus" data-href="./tradestatus.htm" title="交易状态表">4.1交易状态表</a></li>
                           <li><a  href="#/errcode" data-href="./errcode.htm" title="错误代码表">4.2错误代码表</a></li>
                           <li><a  href="#/tradetype" data-href="./tradetype.htm" title="现金账户冻结(解冻)交易类型">4.3现金账户冻结(解冻)交易类型</a></li>
                           <li><a  href="#/bankcode" data-href="../../inf2/bankcode.htm" title="银行代码表">4.4银行代码表</a></li>
                           <li><a  href="#/province" data-href="./province.htm" title="省份代码表">4.5省份代码表</a></li>
                           <li><a  href="#/city" data-href="./city.htm" title="城市代码表">4.6城市代码表</a></li>
                           <li><a  href="#/mccType" data-href="./mccType.htm" title="行业类别表">4.7行业类别表</a></li>
                           <li><a  href="#/idnoType" data-href="./idnoType.htm" title="证件类型表">4.8证件类型表</a></li>
                       </ul>
                   </li>

                   <li><a>5. 常见问题.</a></li>
                   <li class="tree-box"><span>6.现金账户</span>
                       <ul>
                       </ul>
                   </li>
                   
                   <li class="tree-box"><span>7.订单推送</span>
                       <ul>
                       </ul>
                   </li>

                   <li class="tree-box"><span>9.快捷支付</span>
                       <ul>
                       </ul>
                   </li>

                   <li class="tree-box"><span>10.通用接口</span>
                       <ul>
                           <li><a  href="#/orderQuery" data-href="./orderQuery.htm" title="订单查询">10.1 订单查询</a></li>
                           <li><a  href="#/refund" data-href="./refund.htm" title="订单查询">10.2 退款</a></li>
                           <li><a  href="#/agentOrderQuery" data-href="./agentOrderQuery.htm" title="平台商订单查询">10.3 平台商订单查询</a></li>
                           <li><a  href="#/cbOrderQuery" data-href="./cbOrderQuery.htm" title="跨境商户订单查询">10.4 跨境商户订单查询</a></li>
                           <li><a  href="#/rsaNotify" data-href="./rsaNotify.htm" title="异步通知">10.5 异步通知</a></li>
                           <li><a  href="#/dfNotify" data-href="./dfNotify.htm" title="代付通知">10.6 代付通知</a></li>
                       </ul>
                   </li>
                   <li class="tree-box"><span>11.对账文件下载</span>
                       <ul>
                       	   <li><a  href="#/checkBill" data-href="./checkBill.htm" title="对账文件下载">11.1 对账文件下载</a></li>
                       </ul>
                   </li>
               </ul>
           </div>
       </div>
    </div>
    <div class="pull-right">
      <iframe id="iFrame" src="instructions.htm"></iframe>
    </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/all.js?t=134"></script>
</body>
</html>