<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>行业类别</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="css/style.css?2018">
</head>

<body>
<div class="content-box">
    <h1 class="title-h1">行业类别
    </h1>
    <table class="table-box">
        <thead>
        <tr>
            <th>类别代码</th>
            <th>类别名称</th>
        </tr>
        </thead>
        <tbody>
        <tr><td>1	</td><td>电子商务</td></tr>
        <tr><td>2	</td><td>航空公司</td></tr>
        <tr><td>3	</td><td>商旅</td></tr>
        <tr><td>4	</td><td>物流</td></tr>
        <tr><td>5	</td><td>数字娱乐</td></tr>
        <tr><td>6	</td><td>零售连锁</td></tr>
        <tr><td>7	</td><td>保险</td></tr>
        <tr><td>8	</td><td>行政教育</td></tr>
        <tr><td>9	</td><td>其他</td></tr>
        <tr><td>10	</td><td>p2p网贷</td></tr>
        <tr><td>11	</td><td>大宗交易</td></tr>
        <tr><td>12	</td><td>购物商城</td></tr>
        <tr><td>13	</td><td>贵金属交易</td></tr>
        <tr><td>14	</td><td>集团内部</td></tr>
        <tr><td>15	</td><td>票务</td></tr>
        <tr><td>16	</td><td>游戏</td></tr>
        <tr><td>17	</td><td>团购</td></tr>
        <tr><td>18	</td><td>直销</td></tr>
        <tr><td>19	</td><td>彩票</td></tr>
        <tr><td>20	</td><td>机票通</td></tr>
        <tr><td>21	</td><td>机票旅游</td></tr>
        <tr><td>22	</td><td>清结算服务</td></tr>
        <tr><td>24	</td><td>委托代付</td></tr>
        <tr><td>25	</td><td>跨境</td></tr>
        </tbody>
    </table>

</div>
<script src="js/jquery.min.js"></script>
<script src="js/all.js"></script>
</body>
</html>